* {box-sizing: border-box;}

body {
    width: 100%;
    min-width: 320px;
    max-width: 1300px;
    margin: auto;
}

img {
    width: 95%;
    height: auto;
}

.board {
    width: 100%;
    float: left;
}

.col {
    min-height: 30px;
    display: block;
    float: left;
}

.col.twelve {
    width: 100%;
}
.col.one {
    width: 8.33%;
    height: 8.33vw;
}
.col.two {
    width: 16.67%;
    height: 8.33vw;
}

div:nth-of-type(even) .one:nth-of-type(even),
div:nth-of-type(odd) .one:nth-of-type(odd) {
    background-color: wheat;
}
div:nth-of-type(even) .one:nth-of-type(odd),
div:nth-of-type(odd) .one:nth-of-type(even) {
    background-color: brown;
}
